<div class="meetings-container">
  <table class="table table-striped" id="meeting">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Meeting Description</th>
        <th scope="col">Participants</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of meetingsData[0]?.meetings; let i = index;">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{item.date}}</td>
        <td>{{item.time}}</td>
        <td>{{item.desc}}</td>
        <td>{{item.participant}}</td>
        <td>
          <!-- <a href=""> Edit </a> -->
          <a href="" (click)="deleteMeeting()"> Delete </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
