/**  =====================
      Authentication css start
==========================  **/
@import "../../../../scss/settings/theme-variables";

.auth-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 100%;
  min-height: 100vh;
  background: $primary-color;
  @media (min-width: 1200px) {
      .container {
          max-width: 1140px;
      }
  }
  @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: block;
      margin: 0 auto;

      > .row {
          min-height: 100vh;

          > .aut-bg-img {
              min-height: 100vh;
          }
      }
  }

  .saprator {
      position: relative;
      margin: 8px 0;

      span {
          background: #fff;
          position: relative;
          padding: 0 10px;
          z-index: 5;
          font-size: 20px;
      }

      &:after {
          content: "";
          position: absolute;
          top: 15px;
          left: 0;
          width: 100%;
          height: 1px;
          background: $theme-border;
          z-index: 1;
      }
  }

  a,
  p > a {
      color: $theme-heading-color;
      font-weight: 600;
  }

  .input-group {
      background: transparent;
  }

  .card {
      margin-bottom: 0;
      padding: 8px;

      .card-body {
          padding: 20px 25px 20px 40px;
      }
      @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
          display: block;
      }
  }

  > div {
      z-index: 5;
  }

  .auth-content {
      position: relative;
      padding: 15px;
      z-index: 5;

      h4 {
        margin-top: 0;
      }

    .input-group {
        margin-bottom: 16px;
    }

      &:not(.container) {
          width: 400px;

          .card-body {
              padding: 40px 35px;
          }
      }
      @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
          margin: 0 auto;
      }
  }

  .auth-side-img {
      padding-right: 400px;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      justify-content: center;
      @media only screen and (max-width: 991px) {
          display: none;
      }
  }

  .auth-side-form {
      position: relative;
      min-height: 100%;
      background: #fff;
      display: inline-flex;
      align-items: center;
      left: auto;
      //float: right;

      > * {
          position: relative;
          z-index: 5;
      }
      @media only screen and (max-width: 991px) {
          width: 100%;
          justify-content: center;

          .auth-content:not(.container) {
              max-width: 350px;
          }
      }
  }

  &.aut-bg-img {
      .auth-side-form {
          @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
              height: 100vh;
          }
      }
  }
  @media only screen and (max-width: 767px) {
      .card {
          .card-body {
              padding: 30px 15px;
          }
      }
  }

  &.offline {
      background-image: none;

      h1 {
          font-size: 87px;
          font-weight: 700;
      }

      &:before {
          display: none;
      }
  }

  .card-body .carousel-indicators {
      margin: 15px 0 10px;
      bottom: 0;

      li {
          width: 50px;
          background-color: transparentize($primary-color, 0.6);
          border-radius: 5px;
          height: 4px;

          &.active {
              background-color: $primary-color;
          }
      }
  }

  .img-logo-overlay {
      position: absolute;
      top: 40px;
      left: 50px;
  }
}
/* image varient start */
.aut-bg-img {
  background-image: url("./../../../../assets/images/auth/img-auth-big.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  .auth-content {
      padding: 40px 40px;
  }
}
/* image varient End */
/**====== Authentication css end ======**/

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type=password], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  button {
    background-color: #04AA6D;
    //adding-top: 5vh;;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    ////float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* //floating column for labels: 25% width */
  .col-25 {
    //float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* //floating column for inputs: 75% width */
  .col-75 {
    //float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear //floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .error{
      color: indianred;
      margin-bottom: 10px;
  }
